
p {
    font-size: 25px;
}

td  {
    font-size: 20px;
    border-bottom: 2px solid white;
}

th {
    font-size: 20px;
    border-bottom: 2px solid white;
    padding: 5px;
} 

table {
    color: white;
    border-collapse: collapse;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding: 5px;
    text-align: center;
}



body{
    color: white;
    background-color:#000000; 
}

li {
    font-size: 25px;
}

h1 {
    color:whitesmoke; 
    font-size: 40px;
}
