.background-img-color {
    background-color:#000000; 
    background-image: url(monster.png); background-repeat:no-repeat; background-position: right; background-size: 6cm; font-size:2rem; 
}
.white {
    color: white;
}